/*COMMON CSS*/
body{
    font-size: 18px;
    font-family: Hanken Grotesk;    
}

.my-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Set the styles for the button when hovered over */
  .my-btn:hover {
    background-color: blueviolet;
    color: white;
  }


  /*Left Screen*/
  .LeftScreen{
    background-color: rgb(52, 101, 236);
    grid-area: "LeftScreen";
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }


  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .sumNum{
    font-size: larger;
  }

  .outof{
    font-size: small;
  }

  .sumMessage{
    text-align: center;
  }

  /*RightScreen*/
  .RightScreen{
    background-color: white;
    grid-area: "RightScreen";
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    margin-left: -50px;
  }
  
  .RightScreen h1{
    text-align: left;
  }

  .sumContainer{
    padding: 25px;
  }

  .reactionSum{
    background-color: hsl(0, 100%, 67%);
    border-radius: 20px;
    height: 50px;
    padding: 20px;
    font-size: small;
  }

  .memSum{
    background-color:  hsl(39, 100%, 56%);
    border-radius: 20px;
    padding: 20px;
    font-size: small;
  }

  .verbSum{
    background-color: hsl(166, 100%, 37%);
    border-radius: 20px;
    padding: 20px;
    font-size: small;
  }
  
  .visSum{
    background-color: hsl(234, 85%, 45%);
    border-radius: 20px;
    padding: 20px;
    font-size: small;
  }


/*BIG CSS*/
@media  (min-width: 421px){
    body{
        background-color: rgb(235, 233, 233);
    }

    /*LeftScreen*/


     /*Right Screen*/
  .react{
    text-align: left;
    grid-area: react;
  }
  .reactNum{
    grid-area: reactNum;
    margin-left: auto;
  }
  .mem{
    text-align: left;
    grid-area: mem;
  }
  .memNum{
    text-align: right;
    grid-area: memNum;
  }
  .verb{
    text-align: left;
    grid-area: verb;
  }
  .verbNum{
    text-align: right;
    grid-area: verbNum;
  }
  .vis{
    text-align: left;
    grid-area: vis;
  }
  .visNum{
    text-align: right;
    grid-area: visNum; 
  }

  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Adjust the rows as needed */
    grid-template-areas:
      "LeftScreen  RightScreen";
    gap: 10px;
    margin: 50px;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
      "react reactNum"
      "mem memNum"
      "verb verbNum"
      "vis visNum";
    gap: 10px;
  }


}


/*SMALL CSS*/

@media  (max-width: 420px){
    body{
        background-color: blue;
    }

    .container1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto; /* Adjust the rows as needed */
      grid-template-areas:
        "LeftScreen"
        "RightScreen";
      gap: 10px;
    }

    .container2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 100px;
      grid-template-areas:
        "react reactNum"
        "mem memNum"
        "verb verbNum"
        "vis visNum";
      gap: 10px;
    }

}

