@media  (min-width: 421px){
    body{
        background-color: red;
    }
    .my-btn {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      
      /* Set the styles for the button when hovered over */
      .my-btn:hover {
        background-color: red;
        color: white;
      }


    /*Left Screen*/
    .react{
    text-align: left;
    grid-area: react;
    }
    .reactNum{
    text-align: right;
    grid-area: reactNum;
    }
    .mem{
    text-align: left;
    grid-area: mem;
    }
    .memNum{
    text-align: right;
    grid-area: memNum;
    }
    .verb{
    text-align: left;
    grid-area: verb;
    }
    .verbNum{
    text-align: right;
    grid-area: verbNum;
    }
    .vis{
    text-align: left;
    grid-area: vis;
    }
    .visNum{
    text-align: right;
    grid-area: visNum;
    }

    .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
        "react reactNum"
        "mem memNum"
        "verb verbNum"
        "vis VisNum";
    gap: 10px;
    }

}