

    /*LeftScreen*/


    /*Right Screen*/


  .react{
    text-align: left;
    grid-area: react;
  }
  .reactNum{
    grid-area: reactNum;
    margin-left: auto;
  }

  .mem{
    text-align: left;
    grid-area: mem;
  }
  .memNum{
    text-align: right;
    grid-area: memNum;
  }
  .verb{
    text-align: left;
    grid-area: verb;
  }
  .verbNum{
    text-align: right;
    grid-area: verbNum;
  }
  .vis{
    text-align: left;
    grid-area: vis;
  }
  .visNum{
    text-align: right;
    grid-area: visNum; 
  }

  .space-text {
    margin-right: 150px;
  }

@media  (min-width: 421px){

  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "LeftScreen  RightScreen";
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "react reactNum"
      "mem memNum"
      "verb verbNum"
      "vis visNum";
  }


}