@media  (max-width: 420px){
    body{
        background-color: blue;
    }

    .LeftScreen {
      background-color: rgb(52, 101, 236);
      grid-area: LeftScreen; /* Remove the quotes */
    }

    .RightScreen {
      background-color: white;
      grid-area: RightScreen; /* Remove the quotes */
    }

    .container1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto; /* Adjust the rows as needed */
      grid-template-areas:
        "LeftScreen"
        "RightScreen";
      gap: 10px;
    }

}