/* Styles for mobile screens */
@media (min-width: 421px) {
    /* Styles specific to desktop screens */
    body {
      background-color: lightpink;
    }

    .my-btn {
      /* Set the initial color */
      border: none;
      background-color: rgb(43, 43, 128);
      color: rgb(253, 253, 253);
      border-radius: 225px; /* Adjust the border-radius value to control the roundness */
      padding: 10px 50px; /* Adjust the padding values to control the size */
      display: inline-block;
    }
    
    .my-btn:hover {
      /* Set the color when the mouse hovers over */
      background-color: rgb(62, 12, 199);
    }

  .grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto); /* Create two rows with auto height (adjust as needed) */
    grid-gap: 10px; /* Adds gap between grid items */
  }

 /* Styles for the "top" section */
 .top .resultMain {
  position: relative;
  z-index: 7;
  float: left;
  background-color: blue;
  width: 200px;
  height: 445px;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}

.top .resultNumberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(108, 108, 133);
  color: white;
  text-align: center;
  line-height: 150px;
  font-size: 48px;
  margin-bottom: 10px;
}

.top .resultMainNumber {
  margin: 0;
}

.top .resultMainOutOf {
  margin: 0;
  font-size: 18px;
  color: aliceblue;
}

.top .my-btn {
  margin-top: 20px;
}

/* Styles for the "bottum" section */
.bottum .Result {
  position: relative;
  z-index: -3;
  float: right;
  width: 200px;
  height: 445px;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  background-color: white;
}

.bottum .resultsSummary {
  color: rgb(242, 243, 243);
}

.bottum .SummaryTitle {
  float: left;
  display: block; /* Display as block */
  margin-bottom: 10px; /* Add spacing between blocks */
}

.bottum .SumaryNumbers {
  float: right;
  display: block; /* Display as block */
}

.bottum .Reaction {
  background-color: rgb(236, 125, 125);
  border-radius: 10px;
  height: 25px;
  text-align: center;
}

.bottum .Memory {
  background-color: yellow;
  border-radius: 10px;
}

.bottum .Verbal {
  background-color: aquamarine;
  border-radius: 10px;
}

.bottum .Visual {
  background-color: blue;
  border-radius: 10px;
}

.bottum .SumaryNumbers p {
  margin: 0;
  padding-top: 5px;
}

} /*end of @media*/